<div class="row">
  <div class="col-md-3 mb-4">
    <button class="btn btn-primary" *ngIf="!showForm" (click)="AddorUpdateEmployee()"> Add</button>

  </div>
</div>
<div class="row" *ngIf="!showForm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Salary</th>
        <th scope="col">Tax</th>
        <th scope="col">Net Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of Employee_List;let i=index">
        <td>
          {{i+1}}
        </td>
        <td>
          {{emp.name}}
        </td>
        <td>
          {{emp.mobile}}
        </td>
        <td>
          {{emp.email}}
        </td>
        <td>
          {{emp.salary}}
        </td>
        <td>
          {{emp.taxRate}}
        </td>
        <td>
          {{emp.netSalary}}
        </td>
        <td>
          <button class="btn btn-info" (click)="getEmployee(emp.id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteEmployee(emp.id)">Delete</button>

        </td>
      </tr>
  </table>
</div>

<div class="row" *ngIf="showForm">
  <div [formGroup]="Employee_Form" (submit)="saveEmployee()">
    <div class="row">
      <div class="form-group col-md-4">
        <label class="col-form-label">Name</label>
        <input class="form-control" formControlName="name" type="text">
      </div>
      <div class="form-group col-md-4">
        <label class="col-form-label">Mobile</label>
        <input class="form-control" formControlName="mobile" type="text">
      </div>
      <div class="form-group col-md-4">
        <label class="col-form-label">Email</label>
        <input class="form-control" formControlName="email" type="text">
      </div>
      <div class="form-group col-md-4">
        <label class="col-form-label">Salary</label>
        <input class="form-control" (change)="checkForNetSalary()" formControlName="salary" type="text">
      </div>
      <div class="form-group col-md-4">
        <label class="col-form-label">Tax</label>
        <input class="form-control" (change)="checkForNetSalary()" formControlName="tax" type="text">
      </div>
      <div class="form-group col-md-4">
        <label class="col-form-label">Net Salary</label>
        <input class="form-control" formControlName="netSalary" type="text">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-secondary" type="button" *ngIf="showForm" (click)="showForm=false"> Cancel</button>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <button style="float:right" class="btn btn-success" (click)="saveEmployee()" type="submit">Save</button>
      </div>
    </div>
  </div>
</div>
